node_modules
node_modules/*
nomad_flask.egg-info/
*.pyc
app/config_local.py
*.xslx
*.zip
*.DS_Store
.DS_Store
.Python
/[Ii]nclude
/[Ll]ib
/[Ll]ocal
pyvenv.cfg
pip-selfcheck.json
.assethashes
.env
/app/static/css
/app/static/scripts
*.sublime-workspace
.idea/
npm-debug.log*
dump.rdb
dumps/
.cache/
.vscode
.yarn-error.log
yarn-error.log
