airtable-python-wrapper==0.11.3.post1
blinker==1.4
certifi==2022.12.7
chardet==3.0.4
click==6.7
Flask==1.0.2
Flask-Admin==1.5.2
Flask-Login==0.4.1
flask-mongoengine==0.9.5
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
marshmallow==2.15.4
marshmallow-mongoengine==0.9.1
mongoengine==0.15.3
pymongo==3.7.1
python-dotenv==0.9.1
requests==2.19.1
six==1.11.0
urllib3==1.23
Werkzeug==0.14.1
WTForms==2.2.1
