body {
  line-height: 1.1;
  font-family: Helvetica;
  color: #000000; }

h1, h2, h3, p, span, .btn, label {
  font-family: Helvetica;
  font-weight: 700;
  color: #000000; }
  @media (max-width: 767px) {
    h1, h2, h3, p, span, .btn, label {
      word-wrap: break-word; } }

h1 {
  size: 60px; }
  @media (max-width: 767px) {
    h1 {
      size: 36px; } }

h2 {
  size: 36px; }
  @media (max-width: 767px) {
    h2 {
      size: 24px; } }

h3 {
  size: 24px; }
  @media (max-width: 767px) {
    h3 {
      size: 18px; } }

p {
  size: 14px; }

ul {
  padding-left: 18px; }

.caption {
  size: 11px; }

.colon-text {
  color: #51A669; }

.btn {
  border-radius: 0;
  border: none;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 36px; }
  @media (max-width: 767px) {
    .btn {
      padding: 8px 20px; } }
  .btn:focus {
    box-shadow: none;
    border: none; }

.btn-primary, .btn-default {
  color: #FFFFFF; }
  .btn-primary:hover, .btn-primary:active, .btn-default:hover, .btn-default:active {
    background-color: #346D44; }

.btn-primary {
  background-color: #51A669; }

.btn-default {
  background-color: #000000; }

.form-control {
  border-radius: 0;
  background-color: #F2F2F2;
  color: #000000; }
  .form-control:focus {
    box-shadow: none;
    border: 1px solid #999999; }
  .form-control::placeholder {
    color: #999999; }

.form-negative {
  border: none;
  height: auto; }
  .form-negative:focus {
    border: none; }

.input-group-append > .btn {
  padding-top: 20px;
  padding-bottom: 20px; }

.required {
  color: #FF0000; }

.section-qa {
  margin-top: 80px;
  margin-bottom: 60px; }
  @media (max-width: 767px) {
    .section-qa {
      margin-top: 40px;
      margin-bottom: 30px; } }
  .section-qa .qa-left {
    padding-top: 30px; }
    @media (min-width: 768px) {
      .section-qa .qa-left {
        margin-right: 42px;
        position: sticky;
        top: 70px; } }
  .section-qa .qa-right {
    margin-top: 200px; }
    @media (min-width: 768px) {
      .section-qa .qa-right {
        margin-left: 42px; } }
    @media (max-width: 767px) {
      .section-qa .qa-right {
        margin-top: 30px; } }
  .section-qa .question, .section-qa .answer {
    font-size: 48px;
    margin-bottom: 40px; }
    @media (max-width: 767px) {
      .section-qa .question, .section-qa .answer {
        font-size: 30px;
        margin-bottom: 30px; } }
  .section-qa .answer {
    color: #999999; }

.section-break {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (max-width: 767px) {
    .section-break {
      height: 200px; } }

.navbar {
  background-color: #FFFFFF;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #F2F2F2;
  height: 70px; }
  @media (max-width: 767px) {
    .navbar {
      height: 60px; } }
  .navbar .navbar-brand {
    font-size: 24px;
    color: #000000;
    font-weight: 700;
    margin-left: 10px; }
    @media (max-width: 767px) {
      .navbar .navbar-brand {
        margin-left: 2px;
        font-size: 18px; } }
  .navbar .btn-primary {
    padding-top: 21px;
    padding-bottom: 21px; }
    @media (max-width: 767px) {
      .navbar .btn-primary {
        padding-top: 16px;
        padding-bottom: 15px; } }
  .navbar .btn-right {
    margin-right: -16px; }

.navbar-sticky {
  position: sticky;
  top: 0;
  z-index: 99; }

.page-footer {
  background-color: #51A669;
  padding-top: 80px;
  padding-bottom: 70px; }
  .page-footer .col-footer {
    margin-left: 60px;
    margin-right: 60px; }
  .page-footer h2, .page-footer h3, .page-footer .footer-title, .page-footer .footer-content, .page-footer .footer-disclaimer {
    color: #FFFFFF; }
  .page-footer h3 {
    margin-bottom: 50px; }
  .page-footer .newsletter-email h2, .page-footer .footer-title {
    display: block;
    font-size: 18px;
    margin-bottom: 20px; }
  .page-footer .footer-content {
    line-height: 1.5;
    margin-bottom: 100px; }
  .page-footer .footer-disclaimer {
    font-size: 11px; }
  .page-footer .input-group-append > .btn {
    padding-top: 10px;
    padding-bottom: 10px; }

.index-page .hero {
  background-image: url("../img/hero_@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: #51A669;
  height: 440px; }
  @media (max-width: 767px) {
    .index-page .hero {
      background-position: 15% 0%; } }

.index-page h1.hero-title {
  margin-top: 90px;
  margin-bottom: 20px;
  color: #FFFFFF; }
  @media (max-width: 767px) {
    .index-page h1.hero-title {
      font-size: 36px;
      margin-top: 50px; } }

.index-page .hero-subtitle {
  size: 18px;
  line-height: 1.3em;
  color: #FFFFFF;
  display: block;
  margin-right: 80px;
  margin-bottom: 30px; }

.index-page .btn-preview-video {
  background-color: #FFFFFF;
  color: #51A669;
  height: 70px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0; }
  .index-page .btn-preview-video:hover {
    color: #346D44; }

.index-page .img-preview-video {
  height: 70px;
  width: 115px;
  display: inline-block;
  margin-right: 30px; }

.index-page .oi {
  font-size: 16px;
  margin-right: 4px;
  background-color: #FFFFFF;
  color: #51A669; }

.index-page .poster {
  margin-bottom: 80px; }
  @media (max-width: 767px) {
    .index-page .poster {
      margin-bottom: 40px; } }

.index-page .poster-image {
  width: 120px;
  position: absolute; }
  @media (max-width: 767px) {
    .index-page .poster-image {
      width: 70px; } }

.index-page .poster-text {
  margin-left: 160px; }
  @media (max-width: 767px) {
    .index-page .poster-text {
      margin-left: 90px; } }

.index-page .poster-text > ul {
  font-size: 18px; }
  @media (max-width: 767px) {
    .index-page .poster-text > ul {
      font-size: 14px; } }

.index-page .poster-title {
  font-size: 36px; }
  @media (max-width: 767px) {
    .index-page .poster-title {
      font-size: 18px; } }

.index-page .poster-subtitle {
  font-size: 18px;
  margin-top: 10px; }
  @media (max-width: 767px) {
    .index-page .poster-subtitle {
      font-size: 14px; } }

.index-page .poster-image, .index-page .poster-mini-image {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2); }

.index-page .poster-mini {
  margin-bottom: 60px; }

.index-page .poster-mini-image {
  width: 80px;
  display: block;
  margin-bottom: 16px; }

.index-page .poster-mini-subtitle {
  color: #999999;
  margin-top: 8px; }

@media (max-width: 767px) {
  .index-page .poster-mini {
    min-height: 100px;
    margin-bottom: 30px; }
  .index-page .poster-mini-image {
    width: 80px;
    position: absolute;
    left: 0; }
  .index-page .poster-mini-title, .index-page .poster-mini-subtitle {
    margin-left: 100px; } }

.index-page .divider-1 {
  background-image: url("../img/divider_001_@2x.jpg");
  background-position: 50% 100%; }
  @media (max-width: 767px) {
    .index-page .divider-1 {
      background-position-x: 45%; } }

.index-page .divider-2 {
  background-image: url("../img/divider_002_@2x.jpg"); }

.index-page .divider-3 {
  background-image: url("../img/form_@2x.jpg"); }

.index-page .quote-1 {
  background-image: url("../img/quote_001_@2x.jpg"); }

.index-page .quote-2 {
  background-image: url("../img/quote_002_@2x.jpg"); }

.index-page .logo-row {
  text-align: center;
  margin-bottom: 40px; }

.index-page .logo-box {
  display: inline-block;
  width: 100%;
  max-width: 224px;
  height: 160px;
  background-color: #F2F2F2; }
  @media (min-width: 768px) {
    .index-page .logo-box {
      margin-left: 18px;
      margin-right: 18px; } }
  @media (max-width: 767px) {
    .index-page .logo-box {
      height: 140px; } }

.index-page .logo-img-container {
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: 50%;
  width: 100%;
  height: 60px;
  margin-top: 50px; }
  @media (max-width: 767px) {
    .index-page .logo-img-container {
      background-size: 100px;
      margin-top: 40px; } }

.index-page .logo-wsj {
  background-image: url("../img/logos/logo-wsj.png"); }

.index-page .logo-nike {
  background-image: url("../img/logos/logo-nike.png"); }

.index-page .logo-barkbox {
  background-image: url("../img/logos/logo-barkbox.png"); }

.index-page .logo-diageo {
  background-image: url("../img/logos/logo-diageo.png"); }

.index-page .logo-novozymes {
  background-image: url("../img/logos/logo-novozymes.png"); }

.index-page .logo-carlsberg {
  background-image: url("../img/logos/logo-carlsberg.png"); }

.index-page .newsletter-email {
  margin-top: 100px; }
  @media (max-width: 767px) {
    .index-page .newsletter-email {
      margin-top: 40px; } }
  .index-page .newsletter-email h2 {
    color: #FFFFFF; }
    @media (max-width: 767px) {
      .index-page .newsletter-email h2 {
        font-size: 24px; } }

.index-page .bio {
  min-height: 170px;
  margin-bottom: 30px; }

.index-page .bio-top {
  margin-top: 30px; }

.index-page .bio-image {
  height: 160px;
  width: 120px;
  object-fit: cover;
  position: absolute; }

.index-page .bio-text {
  margin-left: 160px; }

.index-page .bio-text > p {
  color: #999999;
  margin-top: 10px; }

@media (max-width: 767px) {
  .index-page .section-financial-aid .btn-primary {
    margin-bottom: 20px; } }

.index-page .section-about .btn-preview-video, .index-page .section-about .oi {
  background-color: #51A669;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px; }

.index-page .section-about .qa-right {
  margin-top: 100px; }

.index-page .section-about-alt {
  margin-top: 80px;
  margin-bottom: 60px; }
  .index-page .section-about-alt h2 {
    text-align: center;
    margin-bottom: 20px; }
  .index-page .section-about-alt .btn-preview-video {
    position: absolute;
    right: 50px; }

.index-page .section-quote {
  background-size: cover; }
  .index-page .section-quote .quote {
    margin-top: 150px;
    margin-bottom: 14px;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700; }
    @media (max-width: 767px) {
      .index-page .section-quote .quote {
        margin-top: 70px;
        font-size: 24px; } }
  .index-page .section-quote .quote-author {
    margin-left: 200px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px; }

.index-page .qa-financial-aid-right > .poster {
  margin-bottom: 100px; }

.index-page .subtext {
  color: #999999; }

.application-page {
  background-color: #F2F2F2; }
  .application-page .application-left, .application-page .application-right {
    padding-top: 40px;
    padding-bottom: 80px; }
  .application-page .application-right {
    background-color: #FFFFFF;
    padding-left: 60px;
    padding-right: 60px;
    min-height: 310px; }
  .application-page h2 {
    margin-bottom: 30px; }
  .application-page .form-group {
    margin-bottom: 30px; }
  .application-page .form-control {
    margin-bottom: 10px; }
  .application-page .step {
    display: block;
    margin-bottom: 6px;
    color: #999999; }
  .application-page .step-break {
    margin-bottom: 30px; }
  .application-page .step-active > span {
    color: #000000; }
