.application-page {
    background-color: $light-gray;
    
    .application-left, .application-right {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .application-right {
        background-color: $white;
        padding-left: 60px;
        padding-right: 60px;
        min-height: 310px;
    }

    h2 {
        margin-bottom: 30px;
    }

    .form-group {
        margin-bottom: 30px;
    }

    .form-control {
        margin-bottom: 10px;
    }

    .step {
        display: block;
        margin-bottom: 6px;
        color: $gray;
    }

    .step-break {
        margin-bottom: 30px;
    }

    .step-active>span {
        color: $black;
    }

}