// Text
body {
    line-height: 1.1;
    font-family: $font-family;
    color: $black;
}

h1, h2, h3, p, span, .btn, label {
    font-family: $font-family;
    font-weight: 700;
    color: $black;

    @media (max-width: $max-width-sm) {
        word-wrap: break-word;
    }
}

h1 {
    size: 60px;

    @media (max-width: $max-width-sm) {
        size: $title-medium;
    }
}

h2 {
    size: $title-medium;

    @media (max-width: $max-width-sm) {
        size: $title-small;
    }

}

h3 {
    size: $title-small;

    @media (max-width: $max-width-sm) {
        size: $text-large;
    }
}

p {
    size: $text;
}

ul {
    padding-left: 18px;
    // Insert plus images
}

.caption {
    size: 11px;
}

.colon-text {
    color: $green;
}

// Components
.btn {
    border-radius: 0;
    border: none;
    font-size: $text-large;
    font-weight: 700;
    padding: 10px 36px;

    @media (max-width: $max-width-sm) {
        padding: 8px 20px;
    }

    &:focus {
        box-shadow: none;
        border: none;
    }
}

.btn-primary, .btn-secondary {
    color: $white;

    &:hover, &:active {
        background-color: $dark-green;
    }
}

.btn-primary {
    background-color: $green;
}

.btn-secondary {
    background-color: $black;
}


// Forms
.form-control {
    border-radius: 0;
    background-color: $light-gray;
    color: $black;

    &:focus {
        box-shadow: none;
        border: 1px solid $gray;
    }

    &::placeholder {
        color: $gray;
    }
}

.form-negative {
    border: none;
    height: auto;

    &:focus {
        border: none;
    }
}

.input-group-append>.btn {
    padding-top: 20px;
    padding-bottom: 20px;
}

.required {
    color: $red;
}

// Sections
.section-qa {
    margin-top: 80px;
    margin-bottom: 60px;

    @media (max-width: $max-width-sm) {
        margin-top: 40px;
        margin-bottom: 30px;
    }


    $col-margin: 42px;
    .qa-left {
        position: sticky;
        top: 70px; // Ugly, height of navbar
        padding-top: 30px;

        @media (min-width: $min-width-sm) {
            margin-right: $col-margin;
        }
    }

    .qa-right {
        margin-top: 200px;

        @media (min-width: $min-width-sm) {
            margin-left: $col-margin;
        }

        @media (max-width: $max-width-sm) {
            margin-top: 40px;
        }
    }

    .question, .answer {
        font-size: $title-large;
        margin-bottom: 40px;

        @media (max-width: $max-width-sm) {
            font-size: $title-mobile;
        }
    }

    .answer {
        color: $gray
    }
}

.section-break {
    height: 400px;
    background-size: auto 100%;
    background-repeat: no-repeat;

    @media (max-width: $max-width-sm) {
        height: 200px;
    }

}
