.index-page {
    // Hero section
    .hero {
        background-image: url($img_path + 'hero_@2x.jpg');
        background-size: auto 120%;
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-color: $green;
        height: 500px;

        @media (max-width: $max-width-sm) {
            background-position: 15% 0%;
        }
    }

    h1.hero-title {
        margin-top: 90px;
        margin-bottom: 20px;
        color: $white;

        @media (max-width: $max-width-sm) {
            font-size: $title-medium;
            margin-top: 50px;
        }
    }

    .hero-subtitle {
        size: $text-large;
        line-height: 1.3em;
        color: $white;
        display: block;
        margin-right: 80px;
        margin-bottom: 30px;
    }

    .btn-preview-video {
        background-color: $white;
        color: $green;
        height: 70px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;

        &:hover {
            color: $dark-green;
        }
    }

    .img-preview-video {
        height: 70px;
        width: 115px;
        display: inline-block;
        margin-right: 30px;
    }

    .oi {
        font-size: 16px;
        margin-right: 4px;
        background-color: $white;
        color: $green;
    }

    // Posters
    .poster {
        margin-bottom: 80px;

        @media (max-width: $max-width-sm) {
            margin-bottom: 40px;
        }
    }

    $image-width: 120px;
    $image-margin: 40px;
    @media (max-width: $max-width-sm) {
        $image-width: 70px;
        $image-margin: 20px;
    }
    .poster-image {
        width: $image-width;
        position: absolute;
    }

    .poster-text {
        margin-left: $image-width + $image-margin;
    }

    .poster-text>ul {
        font-size: $text-large;

        @media (max-width: $max-width-sm) {
            font-size: $text;
        }
    }

    .poster-title {
        font-size: $title-medium;

        @media (max-width: $max-width-sm) {
            font-size: $text-large;
        }
    }

    .poster-subtitle {
        font-size: $text-large;
        margin-top: 10px;

        @media (max-width: $max-width-sm) {
            font-size: $text;
        }
    }

    // Mini Posters
    .poster-mini {
        margin-bottom: 60px;
    }

    .poster-mini-image {
        width: 80px;
        display: block;
        margin-bottom: 16px;
    }

    .poster-mini-subtitle {
        color: $gray;
        margin-top: 8px;
    }

    // Section breaks
    .divider-1 {
        background-image: url($img_path + 'divider_001_@2x.jpg');
        background-position: 50% 100%;

        @media (max-width: $max-width-sm) {
            background-position-x: 45%;
        }
    }

    .divider-2 {
        background-image: url($img_path + 'divider_002_@2x.jpg');
    }

    .divider-3 {
        background-image: url($img_path + 'form_@2x.jpg');
    }

    .quote-1 {
        background-image: url($img_path + 'quote_001_@2x.jpg');
    }

    .quote-2 {
        background-image: url($img_path + 'quote_002_@2x.jpg');
    }

    // Logos
    $logo-box-height: 160px;
    .logo-box {
        display: inline-block;
        width: 210px;
        height: $logo-box-height;
        background-color: $light-gray;
        margin: 18px;
    }

    .logo-img-container {
        background-repeat: no-repeat;
        background-size: 120px;
        background-position: 50%;
        width: 100%; 
        height: 60px;
        margin-top: 50px;
    }

    $companies: ['wsj', 'nike', 'barkbox', 'diageo', 'novozymes', 'carlsberg'];
    @each $company in $companies {
        .logo-#{$company} {
            background-image: url($img_path + 'logos/logo-' + $company + '.png');
        }
    }

    // Newsletter form
    .newsletter-email {
        margin-top: 100px;
    }

    .newsletter-email>h2 {
        color: $white;
    }

    // Bios
    $image-width: 120px;
    $image-height: 160px;

    .bio {
        min-height: $image-height + 10px;
    }

    .bio-top {
        margin-top: 20px;
    }

    .bio-image {
        height: $image-height;
        width: $image-width;
        object-fit: cover;
        position: absolute;
    }

    .bio-text {
        margin-left: $image-width + 40px;
    }

    .bio-text>p {
        color: $gray;
        margin-top: 10px;
    }

    // About Section
    .section-about {
        .btn-preview-video, .oi {
            background-color: $green;
            color: $white;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .qa-right {
            margin-top: 100px;
        }
    }

    .section-about-alt {
        margin-top: 80px;
        margin-bottom: 60px;

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .btn-preview-video {
            position: absolute;
            right: 50px;
        }
    }

    // Quotes 
    .section-quote {
        background-size: cover;

        .quote {
            margin-top: 150px;
            margin-bottom: 14px;
            color: $white;
            font-size: $title-medium;
            font-weight: 700;
        }

        .quote-author {
            margin-left: 200px;
            color: $white;
            font-weight: 700;
            font-size: $text;
        }
    }

    // Other
    .qa-financial-aid-right>.poster {
        margin-bottom: 100px;
    }

    .subtext {
        color: $gray;
    }
}