.index-page {
    // Hero section
    .hero {
        background-image: url($img_path + 'hero_@2x.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-color: $green;
        height: 500px;

        @media (max-width: $max-width-sm) {
            background-position: 15% 0%;
            height: 490px;
        }
    }

    .hero-nyc {
        background-image: url($img_path + 'hero_nyc@2x.png');
    }

    h1.hero-title {
        margin-top: 130px;
        margin-bottom: 30px;
        color: $white;

        @media (max-width: $max-width-sm) {
            font-size: $title-medium;
            margin-top: 50px;
        }
    }

    .hero-subtitle {
        size: $text-large;
        line-height: 1.3em;
        color: $white;
        display: block;
        margin-right: 80px;
        margin-bottom: 30px;
    }

    .btn-preview-video, .btn-cta {
        background-color: $white;
        color: $green;

        &:hover {
            color: $dark-green;
        }
    }

    .btn-preview-video {
        height: 70px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
    }

    .btn-cta {
        padding: 20px 40px;
    }

    .img-preview-video {
        height: 70px;
        width: 115px;
        display: inline-block;
        margin-right: 30px;
    }

    .oi {
        font-size: 16px;
        margin-right: 4px;
        background-color: $white;
        color: $green;
    }

    // Posters
    .poster {
        margin-bottom: 80px;

        @media (max-width: $max-width-sm) {
            margin-bottom: 40px;
        }
    }

    .poster-image {
        width: 120px;
        position: absolute;

        @media (max-width: $max-width-sm) {
            width: 70px;
        }
    }

    .poster-text {
        margin-left: 120px + 40px;

        @media (max-width: $max-width-sm) {
            margin-left: 90px;
        }
    }

    .poster-text>ul {
        font-size: $text-large;

        @media (max-width: $max-width-sm) {
            font-size: $text;
        }
    }

    .poster-title {
        font-size: $title-medium;

        @media (max-width: $max-width-sm) {
            font-size: $text-large;
        }
    }

    .poster-subtitle {
        font-size: $text-large;
        margin-top: 10px;

        @media (max-width: $max-width-sm) {
            font-size: $text;
        }
    }

    .poster-image, .poster-mini-image {
        box-shadow: 4px 4px $shadow;
    }

    // Mini Posters
    .poster-mini {
        margin-bottom: 60px;
    }

    .poster-mini-image {
        width: 80px;
        display: block;
        margin-bottom: 16px;
    }

    .poster-mini-subtitle {
        color: $gray;
        margin-top: 8px;
    }

    @media (max-width: $max-width-sm) {
        .poster-mini {
            min-height: 100px;  
            margin-bottom: 30px;
        }

        $mini-image-width: 80px;
        .poster-mini-image {
            width: $mini-image-width;
            position: absolute;
            left: 0;
        }

        .poster-mini-title, .poster-mini-subtitle {
            margin-left: $mini-image-width + 20px;
        }
    }

    // Section breaks
    .divider-1 {
        background-image: url($img_path + 'divider_001_@2x.jpg');
        background-position: 50% 100%;

        @media (max-width: $max-width-sm) {
            background-position-x: 45%;
        }
    }

    .divider-2 {
        background-image: url($img_path + 'divider_002_@2x.jpg');
    }

    .divider-3 {
        background-image: url($img_path + 'form_@2x.jpg');
    }

    .quote-1 {
        background-image: url($img_path + 'quote_001_@2x.jpg');
    }

    .quote-2 {
        background-image: url($img_path + 'quote_002_@2x.jpg');
    }

    // Logos
    .logo-row {
        text-align: center;
        margin-bottom: 40px;
    }

    $logo-box-width: 260px;
    $logo-box-margin: 18px;
    .logo-box {
        display: inline-block;
        width: 100%;
        max-width: $logo-box-width - 2 * $logo-box-margin;
        height: 160px;
        background-color: $light-gray;

        @media (min-width: $min-width-sm) {
            margin-left: $logo-box-margin;
            margin-right: $logo-box-margin;
        }

        @media (max-width: $max-width-sm) {
            height: 140px;
        }
    }

    .logo-img-container {
        background-repeat: no-repeat;
        background-size: 120px;
        background-position: 50%;
        width: 100%; 
        height: 60px;
        margin-top: 50px;

        @media (max-width: $max-width-sm) {
            background-size: 100px;
            margin-top: 40px;
        }
    }

    $companies: ['wsj', 'nike', 'barkbox', 'diageo', 'novozymes', 'carlsberg'];
    @each $company in $companies {
        .logo-#{$company} {
            background-image: url($img_path + 'logos/logo-' + $company + '.png');
        }
    }

    // Newsletter form
    .newsletter-email {
        margin-top: 120px;

        @media (max-width: $max-width-sm) {
            margin-top: 40px;
        }

        h2 {
            color: $white;

            @media (max-width: $max-width-sm) {
                font-size: $title-small;
            }
        }
    }

    // Bios
    $image-width: 120px;
    $image-height: 160px;

    .bio {
        min-height: $image-height + 10px;
        margin-bottom: 30px;
    }

    .bio-top {
        margin-top: 30px;
    }

    .bio-image {
        height: $image-height;
        width: $image-width;
        object-fit: cover;
        position: absolute;
    }

    .bio-text {
        margin-left: $image-width + 40px;
    }

    .bio-text>p {
        color: $gray;
        margin-top: 10px;
    }

    // Financial Aid
    .section-financial-aid {

        @media (max-width: $max-width-sm) {
            .btn-primary {
                margin-bottom: 20px;    
            }
        }
    }

    // About Section
    .section-about {
        .btn-preview-video, .oi {
            background-color: $green;
            color: $white;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .qa-right {
            margin-top: 100px;
        }
    }

    .section-about-alt {
        margin-top: 80px;
        margin-bottom: 60px;

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .btn-preview-video {
            position: absolute;
            right: 50px;
        }
    }

    // Quotes 
    .section-quote {
        background-size: cover;

        .quote-text {
            height: $section-break-height-md;

            @media (max-width: $max-width-sm) {
                height: $section-break-height-sm;
            }
        }

        .quote, .quote-author {
            color: $white;
            font-weight: 700;
        }

        .quote {
            padding-top: 150px;
            font-size: $title-medium;

            @media (max-width: $max-width-sm) {
                padding-top: 40px;
                font-size: $title-small;
            }
        }

        .quote-author {
            position: absolute;
            bottom: 0;
            margin-bottom: 20px;
            font-size: $text;
        }
    }

    // Other
    .qa-financial-aid-right>.poster {
        margin-bottom: 100px;
    }

    .subtext {
        color: $gray;
    }
}