.navbar {
    background-color: $white;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid $light-gray;
    height: 70px;

     @media (max-width: $max-width-sm) {
            height: 60px;
        }

    .navbar-brand {
        font-size: $title-small;
        color: $black;
        font-weight: 700;
        margin-left: 10px;

        @media (max-width: $max-width-sm) {
            margin-left: 2px;
            font-size: $text-large;
        }
    }

    .btn-primary {
        padding-top: 26px;
        padding-bottom: 26px;

        @media (max-width: $max-width-sm) {
            padding-top: 21px;
            padding-bottom: 21px;
        }
    }

    .btn-right {
        margin-right: -16px;
    }
}

.navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 99;
}