.navbar {
    background-color: $white;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid $light-gray;

    .navbar-brand {
        font-size: $title-small;
        color: $black;
        font-weight: 700;
        margin-left: 10px;
    }

    .btn-primary {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    .btn-right {
        margin-right: -16px;
    }
}

.navbar-sticky {
    position: sticky;
    top: 0;
    z-index: 99;
}