$img_path: '../img/';

// Colors
$black: #000000;
$green: #51A669;
$dark-green: #346D44;
$gray: #999999;
$light-gray: #F2F2F2;
$white: #FFFFFF;
$red: #FF0000;
$shadow: rgba($black, 0.2);

// Fonts
$font-family: Helvetica;
$title-large: 48px;
$title-medium: 36px;
$title-mobile: 30px;
$title-small: 24px;
$text-large: 18px;
$text: 14px;
$text-small: 11px;

// Layout
$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;

$max-width-sm: $width-sm - 1;
$min-width-sm: $width-sm; // alias

$max-width-md: $width-md - 1;
$min-width-md: $width-md; // alias

$max-width-lg: $width-lg - 1;
$min-width-lg: $width-lg; // alias