{% macro poster(title, subtitle, bullets) %}
<div class="poster poster-top">
  <img class="poster-image poster-image-full-time"></img>
  <div class="poster-text">
    <span class="poster-title">{{ title }}</span>
    
    <p class="poster-subtitle">
      {{ subtitle }}
    </p>
    
    <ul>
      {% for b in bullets %}
      <li>{{ b }}</li>
      {% endfor %}
    </ul>

    <a class="btn btn-primary" href="{{ url_for('application_email') }}">Get Started</a>
  </div>
</div>
{% endmacro %}

{% macro btn_get_started() %}
<a class="btn btn-primary" href="{{ url_for('application_email') }}">Get Started</a>
{% endmacro %}

{% macro bio(title, subtitle, text, img_path) %}
<div class="bio bio-top">
  <img class="bio-image" src="{{ url_for('static', filename='img/bios/' + img_path) }}"></img>
  <div class="bio-text">
    <span class="bio-title">{{ title }}</span>
    <p>
      {{ subtitle }}<br/><br/>
      {{ text}}
    </p>
  </div>
</div>
{% endmacro %}