{% macro poster() %}
<div class="poster poster-top">
  <img class="poster-image"></img>
  <div class="poster-text">
    <span class="poster-title">Full-Time</span>
    
    <p class="poster-subtitle">
      Challenge yourself with an immersive learning experience.
    </p>
    
    <ul>
      <li>4 day intensive program</li>
      <li>Next session: October 22-25</li>
      <li>$12,500 tuition</li>
    </ul>

    <a class="btn btn-primary" href="{{ url_for('index') }}">Get Started</a>
  </div>
</div>
{% endmacro %}