{% macro poster(title, subtitle, img_name, bullets, button=True) %}
<div class="poster">
  <img class="poster-image" src="{{ url_for('static', filename='img/posters/poster-' + img_name + '.png') }}"></img>
  <div class="poster-text">
    <span class="poster-title">{{ title }}</span>
    
    <p class="poster-subtitle">{{ subtitle }}</p>
    
    {% if bullets %}
    <ul>
      {% for b in bullets %}
      <li>{{ b }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if country %}
      <p class="poster-subtitle">Upcoming Courses:</p>
      <ul>
        <li>December 3&ndash;7, 2018</li>
        <li>January 7&ndash;11, 2019</li>
        <li>February 4&ndash;8, 2019</li>
        <li>More dates coming soon</li>
      </ul>
    {% endif %}

    {% if button %}
    <a class="btn btn-primary" href="{{ url_for('application_email') }}">Get Started</a>
    {% endif %}
  </div>
</div>
{% endmacro %}


{% macro poster_mini(title, subtitle, filename) %}
<div class="poster-mini">
  <img class="poster-mini-image" src="{{ url_for('static', filename='img/posters/poster-' + filename + '.png')}}"></img>
  <span class="poster-mini-title">{{ title }}</span>
  <p class="poster-mini-subtitle">{{ subtitle }}</p>
</div>
{% endmacro %}
